body {
  background: #eee;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.title {
  color: #000;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 0;
}

.subtitle {
  font-weight: 300;
}

input, .result {
  color: #000;
  font-weight: bold;
  text-align: center;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s;
  width: 75px;
}
input.ng-valid {
  border-color: #3d9970;
}
input.ng-invalid {
  border-color: #ff4136;
}

.flow-icon, .card {
  transition: opacity 0.5s;
}

.flow-icon {
  color: #000;
}

.card {
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px #aaa;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
}

.dimmed {
  opacity: 0.5;
}
