body {
  background: #eee;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

.title {
  color: #000;
  font-weight: lighter;
  letter-spacing: 4px;
  text-align: center;
}

input, .result {
  color: #000;
  font-weight: bold;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #0074d9;
  text-align: center;
  width: 75px;
}

.flow-icon {
  color: #000;
  font-size: 1.5em;
  text-align: center;
}

.card {
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px #aaa;
  margin: 1rem;
  padding: 1.5rem;
}
